<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="../../assets/imgs/eads-graphic-tagline.png"
                    alt="EadsGraphic tagline logo">
                <p class="disclaimer">This is a demo app created to demonstrate the MEAN.io technology stack as well as provide a sandbox envirnoment to test out building a fully functioning web prototype.
                    <br>©2018 EadsGraphic</p>
            </div>

            <div class="col-sm-2">
                <h3>Resources</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Press Kit</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h3>Help</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Report Issues</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    <li>
                        <a href="#">Link 3</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h3>Community</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Contribute</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h3>Connect</h3>
                <ul class="list-unstyled">
                    <li>
                        <a target="_blank"
                            href="https://github.com/EadsGraphic"><i class="ion ion-social-github"></i></a>
                    </li>
                    <li>
                        <a target="_blank"
                            href="https://www.instagram.com/eadsgraphic/"><i class="ion ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                            href="https://dribbble.com/meads"><i class="ion ion-social-dribbble"></i></a>
                    </li>
                    <li>
                        <a target="_blank"
                            href="https://www.linkedin.com/in/teads/"><i class="ion ion-social-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
