// Global Base Application Styles
@import 'colors';
@import 'typography';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: auto;
    padding-top: 58px;
    min-height: 100vh;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: $font-primary;
    line-height: 1.6;
    background-color: $white;
    font-weight: 400;
}
