<div class="jumbotron home-jumbotron text-center">
    <h1>EadsGraphic</h1>
    <p class="Lead">Welcome To EadsGraphic</p>
    <div>
        <a href=""
            class="btn btn-primary"
            [routerLink]="['/register']">Register</a>

        <a href=""
            class="btn btn-primary"
            [routerLink]="['/login']">Login</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">The MEAN Stack</h1>
    </div>

    <div class="col-sm-12 col-md-6 mean-card">
        <img class="mean-img"
            src="../../assets/imgs/expressjs-icon.png"
            alt="express.js logo">

        <h4>Express.JS</h4>
        <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs.
            <a class="btn btn-link"
                href="https://expressjs.com/"
                role="button">More <i class="ion ion-arrow-right-c"></i>
            </a>
        </p>

    </div>

    <div class="col-sm-12 col-md-6 mean-card">
        <img class="mean-img"
            src="../../assets/imgs/mongodb-icon.png"
            alt="express.js logo">
        <h4>MongoDB</h4>
        <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas.
            <a class="btn btn-link"
                href="https://www.mongodb.com/"
                role="button">More <i class="ion ion-arrow-right-c"></i>
            </a>
        </p>

    </div>

    <div class="col-sm-12 col-md-6 mean-card">
        <img class="mean-img"
            src="../../assets/imgs/angular-icon.png"
            alt="express.js logo">
        <h4>Angular 6</h4>
        <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations.
            <a class="btn btn-link"
                href="https://angular.io/"
                role="button">More <i class="ion ion-arrow-right-c"></i>
            </a>
        </p>
    </div>

    <div class="col-sm-12 col-md-6 mean-card">
        <img class="mean-img"
            src="../../assets/imgs/nodejs-icon.png"
            alt="express.js logo">
        <h4>Node.JS</h4>
        <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side to produce dynamic content before the page is sent to the user's browser.
            <a class="btn btn-link"
                href="https://nodejs.org/en/"
                role="button">More <i class="ion ion-arrow-right-c"></i>
            </a>
        </p>
    </div>
</div>
