<div class="jumbotron text-center">
    <h1>EadsGraphic</h1>
    <p class="Lead">Welcome To EadsGraphic</p>
    <div>
        <a href=""
            class="btn btn-primary"
            [routerLink]="['/register']">Register</a>

        <a href=""
            class="btn btn-primary"
            [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4"
        style="background-color: red;">
        <h3>Topic #1</h3>
        <p>300 words of text</p>
    </div>

    <div class="col-md-4"
        style="background-color: red;">
        <h3>Topic #1</h3>
        <p>300 words of text</p>
    </div>

    <div class="col-md-4"
        style="background-color: red;">
        <h3>Topic #1</h3>
        <p>300 words of text</p>
    </div>
</div>
