<div class="home-wrapper">
    <section class="section">
        <h2 class="section-title">The mean stack?</h2>
        <p class="section-description">
            The Friendly & Fun Fullstack javascript framework
        </p>
        <div class="features">
            <div class="feature">
                <div class="feature-image">
                    <img src="../../assets/images/landing-page/mongodb-icon.jpg"
                        alt="">
                </div>
                <div class="feature-description">
                    <h3 class="feature-name">MongoDB</h3>
                    <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas.</p>
                    <div class="mt-5">
                        <a class="btn btn-small btn-outline-dark"
                            href="https://www.mongodb.com/"
                            role="button">More <i class="ion ion-arrow-right-c"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="feature-image">
                    <img src="../../assets/images/landing-page/expressjs-icon.jpg"
                        alt="">
                </div>
                <div class="feature-description">
                    <h3 class="feature-name">Express.JS</h3>
                    <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs.</p>
                    <div class="mt-5">
                        <a class="btn btn-small btn-outline-dark"
                            href="https://expressjs.com/"
                            role="button">More <i class="ion ion-arrow-right-c"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="feature-image">
                    <img src="../../assets/images/landing-page/angular-icon.jpg"
                        alt="">
                </div>
                <div class="feature-description">
                    <h3 class="feature-name">Angular</h3>
                    <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations.</p>
                    <div class="mt-5">
                        <a class="btn btn-small btn-outline-dark"
                            href="https://angular.io/"
                            role="button">More <i class="ion ion-arrow-right-c"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="feature">
                <div class="feature-image">
                    <img src="../../assets/images/landing-page/nodejs-icon.jpg"
                        alt="">
                </div>
                <div class="feature-description">
                    <h3 class="feature-name">Node.JS</h3>
                    <p>Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code server-side to produce dynamic content before the page is sent to the user's browser.</p>
                    <div class="mt-5">
                        <a class="btn btn-small btn-outline-dark"
                            href="https://nodejs.org/en/"
                            role="button">More <i class="ion ion-arrow-right-c"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-action">
        <h2 class="section-title">Want to try our app?</h2>
        <p class="section-description">
            Test out the full stack application today for free!</p>
        <div class="mt-4">
            <a href="https://github.com/EadsGraphic/mean-stack-authentication"
                class="btn btn-green"
                target="_blank">Source Code</a>
            <a class="btn btn-outline ml-2"
                [routerLink]="['/register']">Register</a>
        </div>
    </section>
</div>
